a{
  list-style: none;
  color: black;
  text-decoration: none;
}
.router-link-active{}

.el-icon-plus{
  font-weight:bolder;
}
.s-bolder{
  font-weight:bolder;
}
.allright{
  width:100%;
}

.inputs{
  margin-top: 20px;
}
.allright{
  width:100%;
}
.navt{
  margin-top: 15px;
}
