a{
  list-style: none;
  color: black;
  text-decoration: none;
}
.router-link-active{}
.el-form-item{
  width: 30%;
}
.el-icon-plus{
  font-weight:bolder;
}
.s-bolder{
  font-weight:bolder;
}
.allright{
  width:100%;
}
.body-left{
  float: left;
  height: 100%;
}

.inputs{
  margin-top: 20px;
}
.allright{
  width:100%;
}
.navt{
  margin-top: 15px;
}

.s-router-link{
  font-weight: bolder;
  text-decoration: underline;
  margin-left:10px;
}

.el-message-box__wrapper{
 position:relative;
}

.el-message{
  line-height:600px;
  position:absolute;
 bottom:600px;
  left:50px;
}
